{{ attach_library('b2b/block-stanford') }}

<footer id="footer__global-footer">
  <div class="container">
    <div id="global-footer__brand">
      <a href="http://www.stanford.edu">Stanford University</a>
    </div>
    <nav id="global-footer__nav" role="navigation">
      <ul id="global-links">
        <li>
          <a href="https://www.stanford.edu/" rel="noreferrer">Stanford Home</a>
        </li>
        <li>
          <a href="http://visit.stanford.edu/plan/" rel="noreferrer">Maps &amp; Directions</a>
        </li>
        <li>
          <a href="https://www.stanford.edu/search/" rel="noreferrer">Search Stanford</a>
        </li>
        <li>
          <a href="http://emergency.stanford.edu/" rel="noreferrer">Emergency Info</a>
        </li>
      </ul>

      <ul id="global-policy-links">
        <li>
          <a href="https://www.stanford.edu/site/terms/" rel="noreferrer">Terms of Use</a>
        </li>
        <li>
          <a href="https://www.stanford.edu/site/privacy" rel="noreferrer">Privacy</a>
        </li>
        <li>
          <a href="https://uit.stanford.edu/security/copyright-infringement" rel="noreferrer">Copyright</a>
        </li>
        <li>
          <a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" rel="noreferrer">Trademarks</a>
        </li>
        <li>
          <a href="https://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/" rel="noreferrer">Non-Discrimination</a>
        </li>
        <li>
          <a href="https://www.stanford.edu/site/accessibility/" rel="noreferrer">Accessibility</a>
        </li>
      </ul>
    </nav>

    <div id="global-footer__info">
      <p class="vcard">
        <span aria-hidden="true">©</span>
        <span class="visually-hidden">Copyright</span>
        <span class="fn org">Stanford University</span>.
        <span class="adr">
          <span class="locality">Stanford</span>,
          <span class="region">California</span>
          <span class="postal-code">94305</span>.
        </span>
      </p>
    </div>
  </div>
</footer>
