<div class="layout-grid preview">
  <div class="layout-grid-text">
    <pre>layout-grid-text</pre>
    <p>a block (<code>max-width: 780px</code>)</p>
  </div>
  <div class="layout-grid-popout">
    <pre>layout-grid-popout</pre>
    <p>a block (<code>max-width: 1200px</code>)</p>
  </div>
  <div class="layout-grid-wide">
    <pre>layout-grid-wide</pre>
    <p>a full-width block with gutters left/right (<code>max-width: 1600px</code>)</p>
  </div>
  <div class="layout-grid-fullbleed">
    <pre>layout-grid-fullbleed</pre>
    <p>a block that spans the full width of the page</p>
  </div>
</div>
