{{ attach_library('b2b/paragraph-text') }}

{%
  set config = [
    'paragraph',
    'paragraph-text',
    'layout-grid-popout',
  ]
%}

<section {{attributes.setAttribute('class', config)}}>
  {% block content %}

    <h2>Lorem ipsum dolor sit amet consectetur id eleifend (H2)</h2>

    <p>
      Do ut dolore non quis sit irure cillum veniam anim eu proident occaecat
      magna. Eiusmod sint eu fugiat dolore excepteur incididunt non cillum nisi
      reprehenderit veniam sunt nostrud. Duis in cupidatat veniam amet commodo
      nulla do enim ex id. Elit fugiat nostrud ut enim laboris in est. Labore ea
      ullamco qui mollit aliquip eu. Magna anim magna irure Lorem culpa ut officia.
      Sunt proident anim tempor non culpa nulla aliquip aliquip velit in deserunt.
      Elit anim exercitation quis occaecat adipisicing. Dolor magna fugiat aute
      occaecat quis deserunt magna excepteur aute sit dolor veniam nostrud.
    </p>

    <p class="is-wide">
      <strong>Paragraph with "is-wide" class.</strong>
      Do ut dolore non quis sit irure cillum veniam anim eu proident occaecat
      magna. Eiusmod sint eu fugiat dolore excepteur incididunt non cillum nisi
      reprehenderit veniam sunt nostrud. Duis in cupidatat veniam amet commodo
      nulla do enim ex id. Elit fugiat nostrud ut enim laboris in est. Labore ea
      ullamco qui mollit aliquip eu. Magna anim magna irure Lorem culpa ut officia.
      Sunt proident anim tempor non culpa nulla aliquip aliquip velit in deserunt.
      Elit anim exercitation quis occaecat adipisicing. Dolor magna fugiat aute
      occaecat quis deserunt magna excepteur aute sit dolor veniam nostrud.
    </p>

    <h3>Lorem ipsum dolor sit amet (H3)</h3>

    {{ image.left }}

    <p>
      Do ut dolore non quis sit irure cillum veniam anim eu proident occaecat
      magna. Eiusmod sint eu fugiat dolore excepteur incididunt non cillum nisi
      reprehenderit veniam sunt nostrud. Duis in cupidatat veniam amet commodo
      nulla do enim ex id. Elit fugiat nostrud ut enim laboris in est. Labore ea
      ullamco qui mollit aliquip eu. Magna anim magna irure Lorem culpa ut officia.
      Sunt proident anim tempor non culpa nulla aliquip aliquip velit in deserunt.
      Elit anim exercitation quis occaecat adipisicing. Dolor magna fugiat aute
      occaecat quis deserunt magna excepteur aute sit dolor veniam nostrud.
    </p>

    <p>
      Do ut dolore non quis sit irure cillum veniam anim eu proident occaecat
      magna. Eiusmod sint eu fugiat dolore excepteur incididunt non cillum nisi
      reprehenderit veniam sunt nostrud. Duis in cupidatat veniam amet commodo
      nulla do enim ex id. Elit fugiat nostrud ut enim laboris in est. Labore ea
      ullamco qui mollit aliquip eu. Magna anim magna irure Lorem culpa ut officia.
      Sunt proident anim tempor non culpa nulla aliquip aliquip velit in deserunt.
      Elit anim exercitation quis occaecat adipisicing. Dolor magna fugiat aute
      occaecat quis deserunt magna excepteur aute sit dolor veniam nostrud.
    </p>

    {{ image.right }}

    <p>
      Do ut dolore non quis sit irure cillum veniam anim eu proident occaecat
      magna. Eiusmod sint eu fugiat dolore excepteur incididunt non cillum nisi
      reprehenderit veniam sunt nostrud. Duis in cupidatat veniam amet commodo
      nulla do enim ex id. Elit fugiat nostrud ut enim laboris in est. Labore ea
      ullamco qui mollit aliquip eu. Magna anim magna irure Lorem culpa ut officia.
      Sunt proident anim tempor non culpa nulla aliquip aliquip velit in deserunt.
      Elit anim exercitation quis occaecat adipisicing. Dolor magna fugiat aute
      occaecat quis deserunt magna excepteur aute sit dolor veniam nostrud.
    </p>

    <p>
      Do ut dolore non quis sit irure cillum veniam anim eu proident occaecat
      magna. Eiusmod sint eu fugiat dolore excepteur incididunt non cillum nisi
      reprehenderit veniam sunt nostrud. Duis in cupidatat veniam amet commodo
      nulla do enim ex id. Elit fugiat nostrud ut enim laboris in est. Labore ea
      ullamco qui mollit aliquip eu. Magna anim magna irure Lorem culpa ut officia.
      Sunt proident anim tempor non culpa nulla aliquip aliquip velit in deserunt.
      Elit anim exercitation quis occaecat adipisicing. Dolor magna fugiat aute
      occaecat quis deserunt magna excepteur aute sit dolor veniam nostrud.
    </p>

    <h4>Lorem ipsum dolor sit amet (H4)</h4>

    <p>
      Do ut dolore non quis sit irure cillum veniam anim eu proident occaecat
      magna. Eiusmod sint eu fugiat dolore excepteur incididunt non cillum nisi
      reprehenderit veniam sunt nostrud. Duis in cupidatat veniam amet commodo
      nulla do enim ex id. Elit fugiat nostrud ut enim laboris in est. Labore ea
      ullamco qui mollit aliquip eu. Magna anim magna irure Lorem culpa ut officia.
      Sunt proident anim tempor non culpa nulla aliquip aliquip velit in deserunt.
      Elit anim exercitation quis occaecat adipisicing. Dolor magna fugiat aute
      occaecat quis deserunt magna excepteur aute sit dolor veniam nostrud.
    </p>

  {% endblock %}
</section>
