{{ attach_library('b2b/paragraph-rows') }}

{%
  set config = [
      'layout-grid-fullbleed',
      'paragraph-rows'
    ]
%}

<section {{attributes.setAttribute('class', config)}}>

  {% if heading %}
    <h2>{{ heading|typography }}</h2>
  {% endif %}

  <ul class="rows">
    {% for row in rows %}
      <li>
        {{ row }}
      </li>
    {% endfor %}
  </ul>

</section>
